.container {
  background-color: pink;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.bb8 {
  position: absolute;
  z-index: 100;
}

.speedlines {
  position: relative;
  left: 140px;
}
/*.bb {
  position: relative;
  animation: speedin 2s infinite;
}

@keyframes speedin {
  0% {
    left: 600px;
  }
  100% {
    left: 0px;
  }
}*/
