.container {
  position: absolute;
  background-color: pink;
  width: 600px;
  height: 600px;
  overflow: hidden;
}

.bb8 {
  position: absolute;
  z-index: 100;
}

.head {
  position: relative;;
  left: 85px;
}

.body {
  position: absolute;;
  top: 100px;
}

.speedlines {
  position: relative;
  left: 140px;
}
.bb8 {
  animation: speedin 4s infinite;
}

@keyframes speedin {
  0% {
    left: 600px;
  }
  100% {
    left: 0px;
  }
}
